/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


.features.custom .feature
  border 1px solid #ccc
  padding 10px
  border-radius 5px
  margin 10px
  transition all linear 200ms
  cursor pointer

.features.custom .feature:hover
  box-shadow: 0 0 5px #555;